{% extends "layout/master.html" %}

{%block title %}
Home Page
{% endblock %}

{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('/static/assets/img/home-bg.jpg'); margin-top: -83px">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Create your story</h1>
                    <span class="subheading">Make your own stories just by a click</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-8">
    <div class="row gx-4 gx-lg-8 justify-content-center">
        <div class="col-md-10 col-lg-10 col-xl-8">
            <!-- Post preview-->
            <div class="card-body">
                {% for story in stories %}
                <div class="post-preview ">
                    <a href="#">
                        <h2 class="post-title">Story of {{ story.name }} and {{ story.friend_name }} about {{ story.story_topic }}</h2>
                    </a>
                    <p class="post-subtitle" style="text-align: justify;text-justify: inter-word;margin: 5px 0px;" id="story">
                        {{ story.generated_story | slice:":200" }}....
                    </p>
                    <a id="readButton" class="btn-dark btn btn-info btn-sm" style="color: #fff"
                        href="/read_story/{{ story.id }}/">
                        Read Story <span class="fa fa-book"></span>
                    </a>
                    <p class="post-meta">
                        Created By
                        <a href="#!">{{ user.first_name }}</a>
                        on {{ story.created_at }}
                    </p>
                </div>
                 <!-- Divider-->
                <hr class="my-4" />
                {% endfor %}

            </div>
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="create_story">Create Your Own Stories →</a></div>
        </div>
    </div>
</div>
<script>
    const readButton = document.getElementById('readButton');
    var storyElement = document.getElementById('story');

    // Get the content of the story element
    var storyContent = storyElement.textContent;

    readButton.addEventListener('click', () => {
        const textToRead = storyContent; // Escape text for JavaScript
        const utterance = new SpeechSynthesisUtterance(textToRead);
        speechSynthesis.speak(utterance);
    });
</script>
{% endblock %}