{% extends "layout/master.html" %}

{%block title %}
Read Story
{% endblock %}

{% block content %}
<!-- Main Content-->
<div class="container px-4 px-lg-8">
    <div class="row gx-4 gx-lg-8 justify-content-center">
        <div class="col-md-10 col-lg-10 col-xl-8">
            <!-- Post preview-->
            <div class="card-body">
                {% for story in stories %}
                <div class="post-preview ">
                    <a href="#">
                        <h2 class="post-title">Story of {{ story.name }} and {{ story.friend_name }} about {{ story.story_topic }}</h2>
                    </a>
                    <div class="margin-top: 10px;">
                        <audio controls>
                            <source src="/static/assets/record_sound_{{story.id}}.mp3" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                    <p id="text-of-story" class="post-subtitle" style="text-align: justify;text-justify: inter-word;margin: 20px 0px;">
                        {{ story.generated_story }}
                    </p>
                    <p class="post-meta">
                        Created By
                        <a href="#!">{{ user.first_name }}</a>
                        on {{ story.created_at }}
                    </p>
                </div>
                 <!-- Divider-->
                <hr class="my-4" />
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block shared %}
<script>
</script>
{%endblock%}